# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/

# dotenv environment variables file
.env

# Build outputs
dist/
build/

# Debugging files
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage directory used by testing tools
coverage/

# Temporary files
*.tmp
*.temp

# Others
*.log.*

# Local Netlify folder
.netlify
